.App {
  text-align: center;
  margin-top: 50px;
}

.dropzone {
  width: 300px;
  height: 300px;
  border: 2px dashed #aaaaaa;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone img {
  max-width: 100%;
  max-height: 100%;
}

.dropzone:hover {
  background-color: #f0f0f0;
}

.upload-btn {
  margin-top: 20px;
  cursor: pointer;
}

.submit-button {
  margin-top: 20px;
}

.processed-info {
  margin-top: 20px;
}

.processed-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.processed-info ul {
  list-style: none;
  padding: 0;
}

.processed-info li {
  margin-bottom: 5px;
}

.error {
  color: red;
}
